.ul-grid {
	display: grid;
	list-style: none;
	padding-inline-start: 0;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 10em;
	gap: 1em
}

.ul-grid>li {
	display: grid;
	justify-content: center;
	align-items: center;
	border: .4em dashed var(--color-primary);
	border-radius: 2em;
	font-variation-settings: "wght"700;
	text-transform: uppercase;
}

.ul-grid>li>a {
	text-decoration: none;
}